/NguyenQuangTrung_SE1806_Lab2/p0021/build/
/NguyenQuangTrung_SE1806_Lab2/p0021/nbproject/private/
/NguyenQuangTrung_SE1806_Lab2/P0011/build/
/NguyenQuangTrung_SE1806_Lab2/P0011/dist/
/NguyenQuangTrung_SE1806_Lab2/P0011/nbproject/private/